.profile{
    display:flex;
    flex-direction: column;
}
.serv{
    border: none;
    background: none;
}
/* .changeForm{
    width: 500px;
    border: solid 1px black;
    border-radius: 20px;
} */
/* .formDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
} */